<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NavigationCover.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A23730E1E554CAE00B8CFAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2373271E554CAE00B8CFAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A2373321E554CAE00B8CFAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
